.inline-block{
    display: inline-block;
    vertical-align: top;
}
.logo{
    width: 23%;
    padding: 1%;
    text-align: center;
    
}
nav{
    width:70%;
    padding: 1%;
}
ul{
    width: 50%;
    margin-left: auto;
}
.heroImg{
    height: 600px;
    padding: 25px;
}
.content{
    width: 500px;
    margin: 0 auto;
    text-align: center;

}
footer{
    padding: center;
    background-color: #c8e7de;
 
}
header{
    padding: center;
    background-color: #c8e7de;
 
}
footer > ul {
    display: inline-block;
    vertical-align: top;
    padding: center;
    
}
li {
    border: 2px solid rgba(185, 146, 39, 0.956);
    border-radius: 5px;
    padding: 5px;
    
}
.font-family{
    font-family: 'DM Serif Display', serif;
    font-size: large;
}
.font-family-h1{
    font-family: 'DM Serif Display', serif;
    font-size: x-large;
}